{% extends "layout.html" %}
{% block content %}




    <article class="media content-section">
        <div class="media-body">

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {

                    var MaxInputs = 8; //maximum input boxes allowed
                    var InputsWrapper = $("#InputsWrapper"); //Input boxes wrapper ID
                    var AddButton = $("#AddMoreFileBox"); //Add button ID

                    var x = InputsWrapper.length; //initlal text box count
                    var FieldCount = 1; //to keep track of text box added

                    $(AddButton).click(function (e)  //on add input button click
                    {
                        if (x <= MaxInputs) //max input box allowed
                        {
                            FieldCount++; //text box added increment
                            //add input box
                            $(InputsWrapper).append('<div class="row"><p class="col-xs-6"><input type="text" placeholder="Enter Key" class="form-control" name="keys" id="field_' + FieldCount + '" value="Enter Key ' + '"/></p><a href="#" class="btn btn-danger removeclass">×</a></div>');
                            x++; //text box increment
                        }
                        return false;
                    });

                    $("body").on("click", ".removeclass", function (e) { //user click on remove text
                        if (x > 1) {
                            $(this).parent('div').remove(); //remove text box
                            x--; //decrement textbox
                        }
                        return false;
                    })

                });
            </script>
            <style>
                .row {
                    padding: 10px;
                }
            </style>
            <div class="container">
                <br/>

                <h2>Creat a Json File </h2>
                <div id="resultbox"></div>
                <div class="form-group">
                    <form name="add_skills" id="add_skills" method="POST">
                        <div class="col-xs-6"><input type="text" name="template_name" placeholder="Name of the Template"
                                                     class="form-control"/></div>
                        <br>
                        <div id="InputsWrapper">
                            <div class="row">

                                <div class="col-xs-6"><input type="text" name="keys" placeholder="Enter Key"
                                                             class="form-control"/></div>
                                <div class="col-xs-6">
                                    <button type="button" name="add" id="AddMoreFileBox" class="btn btn-success">Add
                                        More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary col-md-6 center">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </article>

{% endblock content %}